
.chart {
  position: relative;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
}
.chart .domain {
  fill: none;
  stroke-width: 5;
  stroke: #D4D4D1;
  overflow: hidden;
}
line {
    stroke: lightgrey;
    opacity: 0.8;
    stroke-width: 5;

}

.chart .bar {
  fill: #fb8d0d;
}

.chart .bar:hover {
  fill: #719ef7;
}

.x {
  font-size: 2em;
}

.y {
  font-size: 3em;
}
.info {
  margin: 15px;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(113, 158, 247, 0.88);
  color: #fff;
  border-radius: 2px;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  display: none;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
