
.chart {
  position: relative;
  margin: 10px;
}
.chart .domain {
  fill: none;
  stroke-width: 5;
  stroke: #D4D4D1;
}

.chart .bar {
  fill: #56BEEB;
}

.chart .bar:hover {
  fill: #54EEEE;
}

.x {
  font-size: 2em;
}

.y {
  font-size: 2em;
}
.info {
  margin: 15px;
}
